.character {
  display: inline-block;
  width: 24px;
  height: 24px;
  overflow: hidden;
  // transform: scale(2);
  z-index: 10;

  &__spritesheet {
    vertical-align: top;
    animation: moveSpriteSheet 0.5s steps(6) infinite;
    image-rendering: pixelated;
  }
}

@keyframes moveSpriteSheet {
  from {
    transform: translate3d(0px, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}
