@import '../../global.scss';

.custom-shape-divider {
  width: 121%;
  overflow: hidden;
  line-height: 0;
  // transform: rotate(180deg);
}

.custom-shape-divider svg {
  position: relative;
  display: block;
  width: 100%;
  height: 50px;

  @include res(md) {
    height: 100px;
  }
}
