@import '../../global.scss';

.topbar {
  position: absolute;
  top: 0px;
  width: 100%;
  height: $topbar-height;
  // background: $light;
  color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  &__wrapper {
    width: 100%;
    max-width: $container-width;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 32px;
    list-style: none;
    margin: 0;
  }

  &__item {
    padding: 0 12px;

    a {
      height: $topbar-height;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 4px solid transparent;
      color: inherit;
      text-decoration: none !important;

      &:hover {
        border-bottom: 4px solid $main-color;
      }
    }
  }
}
