.contact {
  padding: 32px;

  &__wrapper {
    height: 100%;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nes-field {
    width: 100%;
    margin-bottom: 24px;
  }
}
