@import '../../global.scss';

.contact {
  position: relative;
  // background: #261e2b;

  &__mask {
    padding: 32px;
    padding-bottom: 52px;
    // background: rgba(0, 0, 0, 0.5);
  }

  &__wrapper {
    height: 100%;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background: rgba($color: $light, $alpha: 0.9);
  }

  .nes-field {
    width: 100%;
    margin-bottom: 24px;
  }
}
