@import '../../global.scss';

.works {
  padding: 32px 0;
  padding-bottom: 0;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    margin-top: 48px;

    @include res(md) {
      flex-direction: row;
      align-items: flex-start;
    }

    &__body {
      flex: 1 1 auto;

      @include res(md) {
        padding-left: 48px;
      }
    }

    &__image {
      margin-bottom: 32px;
      border-radius: 8px;
      overflow: hidden;
    }

    &__title {
      font-size: 1.5em;
      margin-bottom: 16px;
      line-height: 1;
    }
  }
}
