.works {
  padding: 32px 0;
  padding-bottom: 0;

  &__item {
    margin-bottom: 32px;

    &__title {
      font-size: 1.3em;
      margin-bottom: 24px;
    }

    &__image {
      width: 100%;
      margin-bottom: 16px;
    }
  }
}
