@import '../../global.scss';

.intro {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background: url('https://firebasestorage.googleapis.com/v0/b/togebetter.appspot.com/o/portfolio%2Fbg-2.jpeg?alt=media&token=b2a2fd74-74ce-48c9-8f22-67aa1bb7432f');
  background-size: cover;
  background-position: bottom center;

  &__wrapper {
    position: relative;
    width: 100%;
    max-width: 600px;
    font-size: 1em;
    padding: 0 32px;
    padding-bottom: 32px;
    z-index: 2;

    @include res(md) {
      font-size: 1.1em;
    }
  }

  &__welcome {
    font-size: 0.833em;
  }

  &__title {
    margin-left: 12px;
    padding: 0 6px;
    font-size: 2em;
    animation: shine 2s forwards, flicker 3s infinite;
  }

  &__sns {
    padding: 16px 0;
    text-align: right;

    > a {
      display: inline-block;
      padding: 0 12px;
    }
  }

  &__down {
    position: absolute;
    bottom: 32px;
    left: 0;
    right: 0;
    text-align: center;
    transition: all 0.3s ease;
    animation: bounce 1s alternate infinite;
    z-index: 2;
  }
}

.ityped-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
  animation-direction: alternate;
}

@keyframes shine {
  0% {
    color: #183c6b;
    text-shadow: none;
  }
  100% {
    color: #ffffff;
    text-shadow: 0 0 0.6rem #e6f0ff, 0 0 1.5rem #4075d8,
      -0.2rem 0.1rem 1rem #4070d8, 0.2rem 0.1rem 1rem #4068d8,
      0 -0.5rem 2rem #247cff, 0.14rem 0.35rem 0 #2469ff;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-16px);
  }
  100% {
    transform: translateY(16px);
  }
}
