@import '../../global.scss';

.intro {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 0 0.1em 20px rgba(0, 0, 0, 1), 0.05em -0.03em 0 rgba(0, 0, 0, 1),
    0.05em 0.005em 0 rgba(0, 0, 0, 1), 0em 0.08em 0 rgba(0, 0, 0, 1),
    0.05em 0.08em 0 rgba(0, 0, 0, 1), 0px -0.03em 0 rgba(0, 0, 0, 1),
    -0.03em -0.03em 0 rgba(0, 0, 0, 1), -0.03em 0.08em 0 rgba(0, 0, 0, 1),
    -0.03em 0 0 rgba(0, 0, 0, 1);

  background: url('https://res.cloudinary.com/hungtn/image/upload/v1631729593/portfolio/bg_nwb5vd.webp');
  background-size: cover;
  background-position: bottom center;

  &__wrapper {
    position: relative;
    width: 100%;
    max-width: 600px;
    font-size: 1em;
    padding: 0 32px;
    padding-bottom: 32px;
    z-index: 2;

    @include res(md) {
      font-size: 1.1em;
    }
  }

  &__welcome {
    font-size: 1em;
  }

  &__title {
    padding: 0 6px;
    margin: 0;
    margin-left: 12px;
    font-size: 2.2em;

    span {
      transform: scale(0.9);
      display: inline-block;
    }

    span:first-child {
      animation: bop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards
        infinite alternate;
    }

    span:last-child {
      animation: bopB 1s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards
        infinite alternate;
    }
  }

  &__sns {
    padding: 16px 0;
    text-align: right;

    > a {
      display: inline-block;
      padding: 0 12px;
    }
  }

  &__down {
    position: absolute;
    bottom: 32px;
    left: 0;
    right: 0;
    text-align: center;
    transition: all 0.3s ease;
    animation: bounce 1s alternate infinite;
    z-index: 2;
  }
}

.ityped-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
  animation-direction: alternate;
}

@keyframes bop {
  0% {
    transform: scale(0.9);
  }
  50%,
  100% {
    transform: scale(1);
  }
}

@keyframes bopB {
  0% {
    transform: scale(0.9);
  }
  80%,
  100% {
    transform: scale(1) rotateZ(-3deg);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-16px);
  }
  100% {
    transform: translateY(16px);
  }
}
