@import './global.scss';

@font-face {
  font-family: 'Chubby Choo';
  src: local('Chubby Choo'),
    url('https://res.cloudinary.com/hungtn/raw/upload/v1631730753/portfolio/ChubbyChoo_ql37i9.ttf')
      format('truetype');
  font-display: swap;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  outline: none;
}

a {
  color: $main-color;

  &:hover {
    color: $main-color;
    transition: all 0.3s ease;
  }
}

button,
input,
textarea {
  padding-top: 0 !important;
}

.app {
  font-size: 20px;
  font-family: 'Chubby Choo', sans-serif;
  color: #ffffff;
  background: #241e2e;
  // background: linear-gradient(180deg, #16121d 0%, #262d38 50%, #041737 100%);
  transition: all 0.5s ease;

  &.light {
    color: #241e2e;
    background: #ffffff;
  }

  @include res(md) {
    font-size: 22px;
  }
}

.sections {
  width: 100%;
  // position: relative;
  // top: $topbar-height;
  overflow-x: hidden;
  overflow-y: hidden;
}

.section {
  // min-height: calc(100vh - #{$topbar-height});
  min-height: 100vh;
}

.container {
  max-width: $container-width;
  padding: 0 32px;
  margin: 0 auto;
  // background: rgba($color: $light, $alpha: 0.9);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.title {
  font-size: 2em !important;
  margin-bottom: 24px;
}

.border {
  border-image-slice: 2;
  border-image-width: 2;
  border-image-repeat: space;
  border-image-source: url('./assets/images/border-white.svg');
  border-image-outset: 2;
  border-style: solid;
  border-width: 4px;
  background: #fefefe;
  box-shadow: 4px 4px 8px 1px #000000;

  &.dark {
    border-image-source: url('./assets/images/border.svg');
    background: #27222f;
    box-shadow: 4px 4px 8px 1px #ffffff;
  }
}

.m-0 {
  margin: 0;
}

.ml-8 {
  margin-left: 8px;
}

.ml-16 {
  margin-left: 16px;
}

.mx-8 {
  margin-left: 8px;
  margin-right: 8px;
}

.mx-16 {
  margin-left: 16px;
  margin-right: 16px;
}

.mx-32 {
  margin-left: 32px;
  margin-right: 32px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-32 {
  margin-bottom: 32px;
}

.pb-32 {
  padding-bottom: 32px;
}

.pt-32 {
  padding-top: 32px;
}

.py-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.is-small {
  font-size: 0.6em;
}

.nes-list {
  padding-left: 16px !important;
  margin-bottom: 32px;
}

.nes-list.is-circle {
  & li::before {
    top: 0.5em;
  }

  &.dark {
    & li::before {
      color: #eee;
    }
  }
}

.nes-input,
.nes-textarea {
  &.light {
    background: #262d38;
    color: #ffffff;
    border-image-source: url('./assets/images/border-white.svg');
  }
}

.nes-btn {
  &.light {
    border-image-source: url('./assets/images/border-white.svg');
  }
}

.color-green {
  color: $green;
}

.color-blue {
  color: $blue;
}

.color-red {
  color: $red;
}

.color-yellow {
  color: $yellow;
}
