@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import './global.scss';

@font-face {
  font-family: '04b03';
  src: local('04b03'), url('./assets/fonts/04b03.ttf') format('truetype');
}

@font-face {
  font-family: 'Chubby Choo';
  src: local('Chubby Choo'),
    url('./assets/fonts/ChubbyChoo.ttf') format('truetype');
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  outline: none;
}

a {
  color: $main-color;

  &:hover {
    color: $main-color;
    transition: all 0.3s ease;
  }
}

button,
input,
textarea {
  padding-top: 0 !important;
}

.app {
  font-size: 20px;
  // line-height: 2;
  font-family: 'Chubby Choo';
  color: #eeeeee;
  background: #16121d;
  // background: linear-gradient(180deg, #16121d 0%, #16121d 100%);

  @include res(md) {
    font-size: 24px;
  }
}

.sections {
  width: 100%;
  // position: relative;
  // top: $topbar-height;
  overflow-x: hidden;
  overflow-y: hidden;
}

.section {
  // min-height: calc(100vh - #{$topbar-height});
  min-height: 100vh;
}

.container {
  max-width: $container-width;
  padding: 0 32px;
  margin: 0 auto;
  // background: rgba($color: $light, $alpha: 0.9);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.title {
  font-size: 2em !important;
  margin-bottom: 24px;
}

.border {
  border-image-slice: 2;
  border-image-width: 2;
  border-image-repeat: space;
  border-image-source: url('./assets/images/border.svg');
  border-image-outset: 2;
  border-style: solid;
  border-width: 4px;
}

.m-0 {
  margin: 0;
}

.ml-8 {
  margin-left: 8px;
}

.ml-16 {
  margin-left: 16px;
}

.mx-16 {
  margin-left: 16px;
  margin-right: 16px;
}

.mx-32 {
  margin-left: 32px;
  margin-right: 32px;
}

.mb-32 {
  margin-bottom: 32px;
}

.pb-32 {
  padding-bottom: 32px;
}

.pt-32 {
  padding-top: 32px;
}

.py-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.is-small {
  font-size: 0.6em;
}

.nes-list.is-circle li::before {
  top: 0.5em;
  color: #eee;
}

.nes-input,
.nes-textarea {
  &.light {
    background: #262d38;
    color: #eeeeee;
    border-image-source: url('./assets/images/border-white.svg');
  }
}

.nes-btn {
  &.light {
    border-image-source: url('./assets/images/border-white.svg');
  }
}

.color-green {
  color: $green;
}

.color-blue {
  color: $blue;
}

.color-red {
  color: $red;
}

.color-yellow {
  color: $yellow;
}
