$main-color: #209cee;
$light: #ffffff;
$green: #3cc157;
$blue: #2aa7ff;
$yellow: #fcbc0f;
$red: #f85f36;
$topbar-height: 56px;
$container-width: 650px;

@mixin res($breakpoint) {
  @if $breakpoint == md {
    @media screen and (min-width: 768px) {
      @content;
    }
  }
}
